<%= form_with(model: toto, local: true) do |form| %>
  <% if toto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(toto.errors.count, "error") %> prohibited this toto from being saved:</h2>

      <ul>
      <% toto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :titi %>
    <%= form.text_field :titi %>
  </div>

  <div class="field">
    <%= form.label :tata %>
    <%= form.text_field :tata %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
