<p id="notice"><%= notice %></p>

<p>
  <strong>Titi:</strong>
  <%= @toto.titi %>
</p>

<p>
  <strong>Tata:</strong>
  <%= @toto.tata %>
</p>

<%= link_to 'Edit', edit_toto_path(@toto) %> |
<%= link_to 'Back', totos_path %>
